<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title : 'Home' })%>

  <body class="home">
    <%- include('partials/header')%>

      <div class="home__banner">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
              aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active home__banner--box-image" style="
              background-image: url('/images/banner/banner_1.jpg');
              ">
            </div>
            <div class="carousel-item home__banner--box-image" style="
              background-image: url('/images/banner/banner_2.jpg');
              ">
            </div>
            <div class="carousel-item home__banner--box-image" style="
              background-image: url('/images/banner/banner_3.jpg');
              ">
            </div>
            <div class="carousel-item home__banner--box-image" style="
              background-image: url('/images/banner/banner_4.jpg');
              ">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="home__box">

        <main class="home__main">
          <!-- "products" es el array que recorre en el controlador ya requerido de data-->
          <% products.forEach(product=> { %>
            <!-- aca podes añadir una condicional, optativa: es aplicar un filter en el forEach -->
              <% if (product.discount > 0) { %>  
              <article class="home__main__article">
                <!-- hace una condicion en imagen cuando no cargues una imagen y se ponga una por defecto -->
                <img src="/images/<%= product.image ? product.image : 'img-phone-01.jpg' %>" alt="Imagen phone 1">
                <div class="home__main__article--description">
                  <h4><%= product.name%></h4>
                  <p><%= product.description%></p>
                  <a href="/products/detail/<%= product.id%>">ver más</a>
                </div>
                <h3 class="home__main__article--discount"><%= product.discount %>%</h3>
              </article>
              <% } %>
            
            <% }) %>
        </main>

        <aside class="home__aside">
          <section class="home__aside__section">
            <h3>Tutoriales</h3>

            <% tutorials.forEach(tutorial=> { %>
              <article class="home__aside__section__article">
                <img src="/images/<%= tutorial.image%>" alt="Imagen tutorial 1">
                <h5>
                  <%= tutorial.name%>
                </h5>
              </article>
              <% }) %>

          </section>
          <section class="home__aside__section">
            <h3>Publicidad</h3>
            <div class="home__aside__section--ads">
              <img src="/images/ad-01.jpg" alt="imagen publicidad 1">
              <img src="/images/ad-02.jpg" alt="imagen publicidad 2">
            </div>
          </section>
        </aside>
      </div>
      <div class="home__carousel">
        <div class="glider-contain">

          <div class="glider">
            <% products.forEach(product=> { %>

              <article class="home__carousel__article">
                <img src="/images/<%= product.image %>" alt="Imagen phone 1">
                <div class="home__carousel__article--description">
                  <h4><%= product.name%></h4>
                </div>
              </article>

              <% }) %>

          </div>

        </div>

        <button aria-label="Previous" class="glider-prev">«</button>
        <button aria-label="Next" class="glider-next">»</button>
        <div role="tablist" class="dots"></div>
      </div>
      </div>
  </body>

</html>